<section class="section-services reveal">
    <div class="bhm-wrapper">
        <div class="services-wrapper">
            <div class="section-title-wrapper">
                <div class="section-title-text">{{ options.partners-title }}</div>
                <div class="section-title-bottom"></div>
            </div>
            <div class="partners-content">
                <div class="frow justify-between">
                    <div class="partners-single"><img src="<?php echo get_field('partner-logo-one', 'option')['url'] ?>" class="partner-logo-img" /></div>
                    <div class="partners-single"><img src="<?php echo get_field('partner-logo-two', 'option')['url'] ?>" class="partner-logo-img" /></div>
                    <div class="partners-single"><img src="<?php echo get_field('partner-logo-three', 'option')['url'] ?>" class="partner-logo-img" /></div>
                    <div class="partners-single"><img src="<?php echo get_field('partner-logo-four', 'option')['url'] ?>" class="partner-logo-img" /></div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
