// Overlay
.hamburger {
	background: $dark-red;
  
	@include desktop-small {
	  display: none !important;
	}
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: center center;
	background-color: rgba(150,18,14,0.97);
	z-index: 9009;
	overflow: scroll;
}
.overlay-data {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}
.overlay_container {
	position: relative;
}
.overlay nav {
    width: 100%;
	text-align: center;
	padding: 2em 0;

	@include phone {
		padding: 6em 0;
	}
	@include tablet {
		padding: 12em 0;
	}
}
.overlay ul {
  list-style: none;
  padding-inline-start: 0px;
}
.overlay-open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.overlay-logo {
	width:90px;
}

// Main Navigation
.main-navigation {
	display: none;
	top: 2.3em;
	// right: 1em;
	width: auto;
	background: $white;
	// position: absolute;

	// &.toggled {
	// 	top: 0;
	// 	right: 0;
	// 	width: 100%;
	// 	position: fixed;
	// 	background: $red;
	// 	height: 100vh;
	// 	z-index: 100;
	// }

	@include desktop-small {
		display: block;
	}

	&.fixed-nav {
		position: fixed;
		top: 0px;
		z-index: 1000;
		width: 100%;
		border-top: 5px solid $dark-red;
	}

	button {
		color: $red !important;
		background-color: transparent !important;
		border: 0;
		font-size: 2em;
		margin: auto;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		@include desktop-small {
			display: block;
			margin: auto;
			width: 85%;
			max-width: 875px;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}

			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		display: inline-block;
		position: relative;
		text-transform: uppercase;
		width: 100%;
		text-align: center;
		padding: 10px 0;

		@include desktop-small {
			padding: 10px 25px;
			width: auto;
		}

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $black;

		&:hover {
			text-decoration: none;
			color: $red;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.menu-toggle {
	@include desktop-small {
		display: none;
	}
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
.menu-menu-1-container {
	@include desktop-small {
		border-top: 1px solid $hairline;
	}
}

#primary-menu .current-menu-item a {
	@include desktop-small {
		color: $red;
		
	}
}
#primary-menu {
	padding-top: 2.5em;

	@include desktop-small {
		padding-top: 0;
	}
}
.page_item, .menu-item {
	a {
		color: $white;
		font-size: 28px;
		
		@include small-tablet {
			font-size: 36px;
		}
		@include desktop-small {
			color: $black;
			font-size: 16px;
		}

		&:visited {
			color: $white;

			@include desktop-small {
				color: $black;
			}
		}
		&:hover {
			text-decoration: none;
			color: $red;
		}
	}
}

.entry-content {
	margin: 0 !important;
}

// Global Footer
.site-footer {
	color: $black;
	padding-top: 40px;
	border-top: 2px solid $red;
}
.footer-menu-title {
	@include header;
}
.page {
	margin: 0 !important;
}
.quick-links-menu {
	padding-inline-start: 0;
	li {
		list-style: none;

		a {
			color: $black;

			&:visited {
				color: $white;
			}
		}
	}
}
.contact {
	@include laptop {
		width: 300px;
		padding-inline-start: 0px;
	}

	li {
		list-style: none;
	}
}

.footer-navigation {
	ul {
		list-style: none;
		padding-inline-start: 0px;

		li {
			
			a {
				color: $black !important;

				&:hover {
					text-decoration: none !important;
					color: $red !important;
				}
			}
		}
	}
}

span.city {
	display: block;
	padding-left: 33px;
}
span.no-bullet-img {
	padding-left: 15px;
}
span.bullet-text {
	padding-left: 15px;

	&.no-bullet {
		padding-left: 18px;
	}
}

.mail-icon a {
	color: $black;

	&:visited,
	&:hover {
		color: $red;
	}
}
.git-items-wrapper {
	padding-top: 15px;
	font-size: 16px;

	.item {
		font-size: 16px;
	}
	
}

.footer-logo {
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 15px;

	@include tablet {
		width: 12%;
		padding-bottom: 0;
	}

	@include desktop-small {
		width: 15%;
	}

	img {
		width: 100px;

		@include tablet {
			width: 135px;
		}
	}
}
.quick-links {
	padding-bottom: 50px;
	width: 100%;

	@include tablet {
		width: 25%;
		padding-bottom: 0;
	}

	@include desktop {
		width: 20%;
	}
}
.contact {
	padding-bottom: 50px;
	width: 100%;

	@include phone-large {
		padding-bottom: 75px;
	}
	@include tablet {
		width: 40%;
		padding-bottom: 0;
	}
	@include laptop {
		width: 30%;
	}
	@include desktop {
		width: 25%;
	}
}
.award-logo {
	width: 100%;
	text-align: center;

	img {
		width: 100px;

		@include tablet {
			width: 135px;
		}
	}

	@include tablet {
		width: 10%;
		padding-bottom: 0;
	}

	@include laptop {
		width: 15%;
	}
}
.site-header {
	padding-bottom: 15px;

	@include desktop-small {
		padding-bottom: 0;
	}
}
#menu-footer-menu {
	li {
		a {
			color: $white;
			font-size: 16px !important;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.header-book-appt {
	border: 1px solid $red;
	padding: 2px 8px !important;

	&:hover {
		border-color: $black;
	}

	a, a:visited {
		color: $red;

		&:hover {
			color: $black;
		}
		
	}
}

