
.bhm-values {
    @include laptop {
        padding-top: 25px; 
    }
    
    .core-values {
        text-align: center;
        font-family: $body-font;
    }
}

.team-wrapper {
    width: 80%;
    margin: auto;

    @include phone-large {
        width: 70%;
    }

    @include small-tablet {
        width: 100%;
    }

    @include desktop {
        width: 85%;
    }

    .team-single {
        width: 100%;
        text-align: center;
        padding-bottom: 50px;

        @include phone-large {
            padding-bottom: 75px;
        }

        @include small-tablet {
            width: 48%;
        }

        @include tablet {
            width: 31%;
        }

        @include laptop {
            width: 31%;
        }
    
        .team-name {
            font-weight: $bold;
            font-size: 20px;
            padding: 15px 0 5px;

            @include small-tablet {
                font-size: 18px;
            }
        }
    }
}