@import "../mixins/media_queries";

// Wrapper
.bhm-wrapper {
  padding: 0 25px 75px;

  @include phone-large {
    padding: 0 50px 75px;
  }
  @include laptop {
    // padding: 0 100px 120px;
    padding: 0 60px 100px;
  }
  @include desktop {
    padding: 0 100px 100px;
  }

  &.footer-menu {
    @include desktop-small {
      padding-bottom: 25px;
    }
  }

  &.home {
    padding-bottom: 0;
  }
}
.bhm-wrapper-testimonials {
  padding: 0 20px;

  @include phone-large {
    padding: 0 50px 75px;
  }

  @include laptop {
    padding: 0 75px;
  }
}
// Global
.site-logo {
  text-align: center;
  padding: 20px 0 0;
  
  @include laptop {
    padding: 20px 0;
  }

  .site-logo-img {
    width: 150px;

    @include laptop {
      width: 225px;
      
    }
  }
}
.accred-logo-img {
  width: 110px;

  @include laptop {
    width: auto;
  }
}

// Home Page
#post-14 .entry-title,
#post-2 .entry-title,
#post-22 .entry-title,
#post-28 .entry-title,
#post-24 .entry-title,
#post-30 .entry-title,
#post-313 .entry-title,
#post-26 .entry-title {
  display: none;
}

// Slides
.slide-title {
  // font-size: 26px !important;
  font-size: 32px !important;
  text-transform: uppercase;
  line-height: 1 !important;

  @include phone-large {
    font-size: 38px !important;
  }
  @include tablet {
    font-size: 40px !important;
  }

  @include laptop {
    font-size: 55px !important;
  }
  @include desktop {
    font-size: 65px !important;
  }
}

.slick-slider-short-content {
  font-size: 55px !important;
  color: $red;

  p {
    color: $red !important;
    margin: 0;
    // text-transform: uppercase;
    font-size: 24px !important;
    line-height: 26px;
    
    @include phone-large {
      font-size: 28px !important;
    }
    @include tablet {
      font-size: 28px !important;
    }

    @include laptop {
      font-size: 45px !important;
      line-height: 45px;
    }
  }
}

// Section Title
.section-title {
  padding: 75px 0 50px;
  text-align: center;

  @include laptop {
    padding: 75px 0;
  }

  &.initial-title {
    padding-top: 25px;

    @include phone-large {
      padding-top: 50px;
    }
  }

  .section-title-text {
    font-weight: $bold;
    font-size: 24px;

    @include laptop {
      font-size: 32px;
    }
  }
  .section-title-bottom {
    margin: 7px auto 0;
    width: 100px;
    border-top: 3px solid $red;
  }
}
.section-body {
  width: 100%;
  margin: auto;
  font-family: $body-font;
  // font-size: 18px;
  text-align: center;

  @include tablet {
    width: 80%;
  }
  @include laptop {
    // width: 65%;
    font-size: 20px;
  }
}

// Highlights
.section-highlight {
  .highlight-img {
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include laptop {
      width: 50%;
      height: auto;
    }
  }
  .highlight-content {
    width: 100%;
    background-color: $red;
    color: $black;
    padding: 50px 25px;
    // font-size: 18px;

    @include phone-large {
      padding: 50px 50px;  
    }

    @include tablet {
      padding: 75px;
    }

    @include laptop {
      width: 50%;
      // padding: 75px 100px;
      padding: 75px 50px;

    }
  }
  
  .highlight-title {
    padding-bottom: 40px;

    .highlight-title-text {
      text-align: center;
      text-transform: uppercase;
      font-size: 26px;
    }
    .highlight-title-bottom {
      margin: 7px auto 0;
      width: 75px;
      border-top: 3px solid $black;
    }
  }
  .highlight-copy {
    font-family: $body-font;
    text-align: center;
    // color: purple;

    @include tablet {
      width: 85%;
      margin: auto;
    }

    .highlight-author {
      padding-top: 15px;
      font-size: 16px;
    }
  }
}

// Testimonials
.section-testimonials-bg {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // height: 40vh;
  text-align: center;
  padding: 120px 25px;

  @include phone-large {
    padding: 120px 50px;
  }
  @include laptop {
    padding: 120px 75px;
  }
  @include desktop {
    padding: 120px 150px;
  }
  @include tv {
    padding: 120px 225px;
  }

  .testimonials-content {
    font-size: 22px;
    color: $white;
    font-weight: $bold;    
    letter-spacing: 0.7px;
    line-height: 1.4;
    margin: auto;
    padding: 0 0 1.5em;

    @include phone-large {
      font-size: 26px;
    }

    @include laptop {
      font-size: 30px;
      line-height: 1.2;
      width: 85%;
    }
    @include desktop {
      font-size: 34px;
      width: 75%;
    }
  }

  .testimonials-author {
    color: $white;
    font-size: 22px;
    font-weight: bold;
  }

  .testimonials-readmore {
    color: $white;
    font-size: 18px;
    // width: 65%;
    margin: auto;
    padding-bottom: 30px;

    @include tablet {
      font-size: 22px;
    }

    @include laptop {
      width: 85%;
      // width: 65%;
      font-size: 22px;
    }
    @include desktop {
      width: 70%;

    }
  }
}

// Partners
.partners-single {
  // width: 145px;
  width: 60%;
  margin: auto;
  padding: 0 25px 30px 0;

  @include phone-large {
    width: 175px;
    // padding-bottom: 50px;
  }

  @include small-tablet {
    width: 170px;
  }

  @include tablet {
    width: 130px;
  }

  @include laptop {
    width: 190px;
  }

  .partner-logo-img {
    // width: 130px;
    width: 100%;

    @include phone-large {
      // width: 140px;
    }

    @include laptop {
      // width: 150px;
    }
  }
}

// Buttons
.bhm-btn-base {
  div {
    background: $red;
    width: auto;
    display: inline-block;
    padding: 15px 22px;
    color: $black;
    text-transform: uppercase;
    font-weight: $bold;
    border: 2px solid $red;

    &:hover {
      background: $white;
      color: $red;
      border: 2px solid $red;
    }
  }
}
.btn-space {
  div {
    margin-bottom: 10px;
  }
}

// Forms 
.forms-wrapper {
  padding-top: 30px;
  width: 75%;
  margin: auto;

  @include desktop {
    width: 60%;
  }

  .forms-single {
    margin: 0 auto 20px;
    width: 100%;
    text-align: center;

    @include laptop {
      margin: 0 auto;
      width: auto;
    }
  }
}

// Posts
.post {
  margin-top: 5em !important;
}
.bhm-post-title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 1.5em;
}
.bhm-pre-post {
  text-align: center;
  text-transform: uppercase;
  color: $red;
}
.entry-header {
  // margin-bottom: 4.2em;
}

// Program Eligibility 
.eligibility-wrapper {
  margin-top: 7vh;
}

// Referrals
.referral-wrapper {
  margin-top: 75px;
}


.section-wrapper {
  margin-top: 75px;
}