// Wrapper
.bhm-wrapper {
  padding: 0 75px 75px;
}
// Global
.site-logo {
  text-align: center;
  padding: 20px 0;

  .site-logo-img {
    width: 225px;
  }
}
// Home Page
.entry-title {
  display: none;
}

// Slides
.slide-title {
  font-size: 55px !important;
  text-transform: uppercase;
  line-height: 1 !important;
}

.slick-slider-short-content {
  font-size: 55px !important;
  color: $red;

  p {
    font-size: 45px !important;
    color: $red !important;
    margin: 0;
    text-transform: uppercase;
  }
}


// Section Title
.section-title {
  padding: 75px 0;
  text-align: center;

  &.initial-title {
    padding-top: 0;
  }

  .section-title-text {
    font-size: 32px;
    // text-transform: uppercase;
    font-weight: $bold;
  }
  .section-title-bottom {
    margin: 7px auto 0;
    width: 100px;
    border-top: 3px solid $red;
  }
}
.section-body {
  width: 75%;
  margin: auto;
}

// Highlights
.section-highlight {
  .highlight-img {
    width: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .highlight-content {
    width: 50%;
    background-color: $dark-red;
    color: $white;
    padding: 75px 100px;
  }
  
  .highlight-title {
    padding-bottom: 40px;

    .highlight-title-text {
      text-align: center;
      text-transform: uppercase;
      font-size: 26px;
    }
    .highlight-title-bottom {
      margin: 7px auto 0;
      width: 75px;
      border-top: 3px solid $white;
    }
  }
  .highlight-copy {
    font-family: $body-font;
  }
}


// Testimonials
.section-testimonials-bg {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40vh;
  text-align: center;

  .testimonials-content {
    font-size: 30px;
    color: $white;
    font-weight: $bold;    
    letter-spacing: 0.7px;
    line-height: 1.2;
    width: 70%;
    margin: auto;
    padding: 3em 0 1.5em;
  }

  .testimonials-author {
    color: $white;
    font-size: 22px;
    font-weight: bold;
  }
}

// Partners
.partners-single {
  width: 160px;
}

// Buttons
.bhm-btn-base {
  div {
    background: $dark-red;
    width: auto;
    display: inline-block;
    padding: 10px 15px;
    color: $white;
    text-transform: uppercase;
    font-weight: $bold;
  }
}