.contact-info-wrapper {
    margin: auto;
    padding: 75px 0 0;

    @include laptop {
        width: 85%;
    }

    .contact-info-single {
        width: 100%;
        padding-bottom: 50px;

        @include phone-large {
            padding-bottom: 75px;
        }

        @include tablet {
            width: 32%;
            padding: 0 25px 75px;
        }
    }
}
.contact-icon {
    text-align: center;
    padding-bottom: 20px;

    img {
        @include tablet {
            height: 65px;
        }
    }
}
.contact-description {
    text-align: center;

    @include tablet {
        font-size: 14px;
    }
    @include desktop-small {
        font-size: 16px;
    }
}
.contact-details-img {
    @include bg_properties;
    width: 100%;
    height: 50vh;
    // margin-bottom: 50px;

    @include laptop {
        width: 65%;
    }
}
.contact-details {
    @include laptop {
        padding-top: 7em;
    }
}
.contact-details-info {
    // width: 35%;
    margin: 0 auto 75px;

    @include laptop {
        width: 35%;
    }

    .contact-details-title {
        font-weight: $bold;
        font-size: 24px;
        padding-bottom: 40px;
        padding-top: 30px;
        @include header;
    }
    .contact-details-add {
        padding-bottom: 40px;
    }
    .contact-details-cta {
        background-color: $red;
        padding: 14px 24px;
        color: $black;
        font-size: 14px;
        @include header;
    }
    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}
