.ep-wrapper {
    padding-top: 75px;
    width: 75%;
    margin: auto;

    .single-ep {
        width: 100%;
        padding-bottom: 50px;

        @include phone-large {
            padding-bottom: 75px;
        }

        @include small-tablet {
            width: 48%;
        }

        @include laptop {
            width: 31%;
        }

        .ep-title {
            text-align: center;
            padding: 12px 10px;
            background-color: $red;
            color: $black;

            @include tablet {
                padding: 22px 10px;
            }
        }
        .ep-meta {
            border: 1px solid $red;
            padding: 20px;
            text-align: center;

            .ep-time {
                font-weight: $bold;
                padding-bottom: 10px;
            }

            .ep-description {
                font-size: 14px;
                padding-bottom: 25px;
            }

            .ep-link {
                padding: 5px 12px;
                font-size: 12px;

                @include tablet {
                    padding: 6px 20px;
                    font-size: 14px;
                }
            }
        }
    }
}