.ep-wrapper {
    padding-top: 75px;
    width: 75%;
    margin: auto;

    @include small-tablet {
        width: 100%;
    }

    .single-ep {
        width: 100%;
        padding-bottom: 50px;

        @include phone-large {
            padding-bottom: 75px;
        }

        @include small-tablet {
            width: 48%;
        }

        @include laptop {
            width: 31%;
        }

        .ep-title {
            text-align: center;
            padding: 22px 0;
            background-color: $dark-red;
            color: $white;
        }
        .ep-meta {
            border: 1px solid $dark-red;
            padding: 20px;
            text-align: center;

            .ep-time {
                font-weight: $bold;
                padding-bottom: 10px;
            }

            .ep-description {
                font-size: 14px;
                padding-bottom: 25px;
            }

            .ep-link {
                display: inline-block;
                padding: 6px 20px;
                border: 1px solid;
                color: $dark-red;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
    }
}