.faqs-wrapper {
    width: 85%;
    margin: auto;
    padding: 75px 0 0;
    text-align: center;

    .faq-single {
        border-bottom: 1px solid $dark-red;
        padding: 30px 0;

        &:last-child {
            border-bottom: none;
        }

        .faq-question {
            font-weight: $bold;
            font-size: 18px;
            padding-bottom: 5px;

            @include laptop {
                font-size: 22px;
            }
        }

        .faq-answer {
            font-size: 16px;

            @include laptop {
                font-size: 20px;
            }
        }
    }
}