// Template Classes
.bhm-welcome {
    text-align: center;
  
    .accred-logo {
      padding-bottom: 40px;
    }  
}

// Programs - Home
.section-programs {
    text-align: center;

    @include desktop-small {
      margin-bottom: 75px;
    }
  
    .programs-grid {
      padding: 60px 0;
      width: 100%;
      margin: 0 auto;

      @include tablet {
        width: 100%;
      }
      @include desktop {
        width: 85%;
      }
    }
  
    .programs-single {
      width: 100%;
      margin: 15px 2px;
      background: $red;
      color: $black;
      padding: 60px 10px;

      @include phone {
        padding: 60px 30px;
      }

      @include phone-large {
        padding: 50px 30px;
      }

      @include tablet {
        width: 32%;
        padding: 15px 10px;
      }

      @include laptop {
        padding: 20px 10px;
        margin: 0 2px;
      }
      @include desktop-small {
        padding: 20px 17px;
      }
      @include desktop {
        padding: 25px 45px;
      }
    }
  
    .programs-single-title {
      padding: 10px 0 20px;
      @include body-services-header;
    }
  
    .programs-single-content {
      font-size: 0.9rem;
      font-family: $body-font;
    }
}

// Mission, Vision, Philosophy
.bhm-about {
  @include tv {
    width: 85%;
    margin: auto;
  }
}
.bhm-about-single {
  width: 100%;
  text-align: center;
  padding-bottom: 75px;

  @include tablet {
      width: 45%;
  }

  @include laptop {
      width: 45%;
      padding-bottom: 0;
  }
}
.bhm-about-single-title {
  padding-bottom: 30px;
  @include body-services-header;
}
.bhm-about-single-content {
  font-family: $body-font;

  &.vision-content {
      width: 100%;
    
      @include tablet {
        margin-left: 40px;
        width: 75%;
      }
      @include desktop {
        margin-left: 75px;
      }
      @include tv {
        width: 65%;
      }
  }
}
.bhm-icon-size {
  height: 70px;
  padding-bottom: 30px;
}
.vision-wrapper {
  padding: 25px 0 75px;
  @include bg_properties;
  text-align: center;

  @include tablet {
    margin-top: 50px;
    padding: 40px 0 75px;
    text-align: initial;
  }
  @include desktop {
    padding: 125px 60px 75px;
  }
  @include tv {
    background-position: top center;
  }
  .vision-title {
    width: 100%;
    text-align: center;

    @include tablet {
      width: 19%;
    }
  }
}

// Client Reviews / Testimonials Slides
.testimonial_rotator.template-default .testimonial_rotator_author_info {
  font-style: normal;
  padding: 10px 0;
  border-left: 0;
}

.reviews-wrapper {
  width: 90%;
  margin: auto;

  @include desktop {
    width: 75%;
  }

  @include tv {
    width: 60%;
  }
}

.testimonial_rotator.template-default .has-image .img, .testimonial_rotator_single.has-image.template-default .img {
  width: 70%;
  padding: 0;
  margin: 0 auto 30px;
  float: none;
  
  @include tablet {
    width: 20%;
    margin-right: 5%;
    float: left;
  }
}

.testimonial_rotator.template-default .has-image .text, .testimonial_rotator_single.has-image.template-default .text {
  width: 100%;
  float: none;
  text-align: center;
  font-family: $body-font;
  margin-top: 50px;
  
  @include tablet {
    width: 68%;
    float: left;
    text-align: left;
    margin-top: 0;
  }
}
.testimonial_rotator_wrap {
  margin: 0;
  padding: 0;
}
.testimonial_rotator.template-default .testimonial_rotator_author_info {
  @include header;
  font-size: 12px;
}