.section-services {
    text-align: center;

    .services-wrapper {
        padding: 75px 0 0;
    }
    .services-single {
        @include body-services;
    }
    .services-icon {
        padding-bottom: 25px;
    }
    .services-icon-size {
        width: 60px;
    }
    .services-title {
        @include body-services-header;
    }
    .services-content {
        @include body-services-copy;
        @include tablet {
            font-size: 14px;
        }
    }
}

.eligibility-list {
    padding-top: 25px;
    padding-inline-start: 0;

    @include laptop {
        padding-inline-start: 40px;
    }

    li {
        list-style: none;
        font-family: $body-font;
        padding-bottom: 10px;
        font-size: 18px;

        span {
            padding-right: 10px;

            img {
                width: 10px;
                margin-right: 7px;
            }
        }
    }
}
.eligibility-wrapper {
    margin-top: 50px;
}

.client-highlight-img {
    min-height: 45vh;

    @include desktop-small {
        min-height: 35vh;
    }
}


// Program Eligibility 
.eligibility-wrapper {
    margin-top: 7vh;
  }